/* You can add global styles to this file, and also import other style files */
.title {
  font-weight: bold;
}

.divider {
  border: none;
  height: 2px;
  background-color: gray;
  margin: 2rem 0;
}
